{% extends 'base.html' %}

{% block content %}
<style>
  .row {padding:10px;}
</style>
<br/><br/>
<div class="container">
  <h1>Welcome to RxBuddy!</h1>
  <br/>
  <div class="shadow p-3 mb-5 bg-white rounded">  
    <form action="" method="POST" name="search_drugs" id="search_drugs">  
      <div class="form-group">
        <input type="text" name="drug_1" placeholder="Drug #1" class="form-control name_list"/>
      </div>
      <div class="form-group">
        <input type="text" name="drug_2" placeholder="Drug #2" class="form-control name_list"/>
      </div>
      <div class="form-group">
        <input type="text" name="drug_3" placeholder="Drug #3" class="form-control name_list"/>
      </div>
      <div class="form-group">
        <input type="text" name="drug_4" placeholder="Drug #4" class="form-control name_list"/>
      </div>
      <br/>
      <button type="submit" class="btn btn-success">View side effects</button>
    </form>
    <br/>
    <div>
      <p>Do not rely on this tool to make decisions regarding medical care. Always speak to your health provider about the risks and benefits of FDA-regulated drugs.</p>
      <p>Data provided by the U.S. Food and Drug Administration (<a href="https://open.fda.gov">https://open.fda.gov</a>).</p>
      <p>For questions or feature suggestions, please contact <a href="https://www.linkedin.com/in/holden-chen/">Holden Chen</a>.</p>
    </div>
  </div> 
  <br/>
  {% if drug_dict %}
    <div class="shadow p-3 mb-5 bg-white rounded">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Drug Name</th>
              <th scope="col">Side Effects</th>
            </tr>
          </thead>
          <tbody>
            {% for drug in drug_dict %}
              {% if drug == "" %}
                {{ continue }}
              {% else %}
                <tr>
                  <td>{{ drug.capitalize() }}</td>
                  <td>{{ drug_dict[drug] }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
